BusinessService/WebServiceProject/WebContent/wsdl/BusinessService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:impl="http://wsbusiness" xmlns:intf="http://wsbusiness" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wsbusiness">
	
    <wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="http://wsbusiness">
			
		<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
		<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
		
			<element name="getDolarCotization">
				<complexType>
					<sequence>
						<element name="fromCurrency" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="getDolarCotizationResponse">
				<complexType>
					<sequence>
						<element name="getDolarCotizationReturn" type="xsd:double"/>
					</sequence>
				</complexType>
			</element>

			<element name="convertCurrency">
				<complexType>
					<sequence>
						<element name="amount" type="xsd:double"/>
						<element name="currencies" type="impl:ArrayOfString"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="ArrayOfString">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="string[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<element name="convertCurrencyResponse">
				<complexType>
					<sequence>
						<element name="convertCurrencyReturn" type="impl:ArrayOfDouble"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="ArrayOfDouble">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="double[]"/>
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>
	
	<wsdl:message name="getDolarCotizationRequest">
		<wsdl:part element="impl:getDolarCotization" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getDolarCotizationResponse">
		<wsdl:part element="impl:getDolarCotizationResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="convertCurrencyRequest">
		<wsdl:part element="impl:convertCurrency" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="convertCurrencyResponse">
		<wsdl:part element="impl:convertCurrencyResponse" name="parameters"/>
	</wsdl:message>
	
	<wsdl:portType name="BusinessService">
		<wsdl:operation name="getDolarCotization">
			<wsdl:input message="impl:getDolarCotizationRequest" name="getDolarCotizationRequest"/>
			<wsdl:output message="impl:getDolarCotizationResponse" name="getDolarCotizationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="convertCurrency">
			<wsdl:input message="impl:convertCurrencyRequest" name="convertCurrencyRequest"/>
			<wsdl:output message="impl:convertCurrencyResponse" name="convertCurrencyResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="BusinessServiceBinding" type="impl:BusinessService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getDolarCotization">
			<soap:operation soapAction=""/>
			<wsdl:input name="getDolarCotizationRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getDolarCotizationResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="convertCurrency">
			<soap:operation soapAction=""/>
			<wsdl:input name="convertCurrencyRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="convertCurrencyResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="BusinessServiceFull">
		<wsdl:port binding="impl:BusinessServiceBinding" name="BusinessService">
			<soap:address location="http://localhost:8080/WebServiceProject/services/BusinessService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
