trunk/ProjectTeamService/ProjectTeamService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:impl="http://wsprojectteam" xmlns:intf="http://wsprojectteam" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wsprojectteam">
	
    <wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="http://wsprojectteam">
			
		<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
		<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
		
			<element name="getProjects">
				<complexType>
					<sequence>
					</sequence>
				</complexType>
			</element>
			<element name="getProjectsResponse">
				<complexType>
					<sequence>
						<element name="result" type="impl:ArrayOfString"/>
					</sequence>
				</complexType>
			</element>
			<element name="getUsersForProject">
				<complexType>
					<sequence>
						<element name="project" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="getUsersForProjectResponse">
				<complexType>
					<sequence>
						<element name="result" type="impl:ArrayOfString"/>
					</sequence>
				</complexType>
			</element>
			<element name="getProjectsForUser">
				<complexType>
					<sequence>
						<element name="user" type="impl:Auth"/>
					</sequence>
				</complexType>
			</element>
			<element name="getProjectsForUserResponse">
				<complexType>
					<sequence>
						<element name="result" type="impl:ArrayOfString"/>
					</sequence>
				</complexType>
			</element>
			<element name="getGroupsForProject">
				<complexType>
					<sequence>
						<element name="project" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="getGroupsForProjectResponse">
				<complexType>
					<sequence>
						<element name="result" type="impl:ArrayOfString"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="ArrayOfString">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="string[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="Auth">
				<sequence>
					<element name="username" type="xsd:string"/>
					<element name="pass" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="addProject">
				<complexType>
					<sequence>
						<element name="description" type="xsd:string"/>
						<element name="name" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="addProjectResponse">
				<complexType>
					<sequence>
						<element name="result" type="xsd:boolean"/>
					</sequence>
				</complexType>
			</element>	
			<element name="addGroupToProject">
				<complexType>
					<sequence>
						<element name="description" type="xsd:string"/>
						<element name="project" type="xsd:string"/>
						<element name="name" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="addGroupToProjectResponse">
				<complexType>
					<sequence>
						<element name="result" type="xsd:boolean"/>
					</sequence>
				</complexType>
			</element>
			<element name="addMemberToProject">
				<complexType>
					<sequence>
						<element name="description" type="xsd:string"/>
						<element name="group" type="xsd:string"/>
						<element name="project" type="xsd:string"/>
						<element name="user" type="impl:Auth"/>
					</sequence>
				</complexType>
			</element>
			<element name="addMemberToProjectResponse">
				<complexType>
					<sequence>
						<element name="result" type="xsd:boolean"/>
					</sequence>
				</complexType>
			</element>
			<element name="addUser">
				<complexType>
					<sequence>
						<element name="user" type="impl:Auth"/>
					</sequence>
				</complexType>
			</element>
			<element name="addUserResponse">
				<complexType>
					<sequence>
						<element name="addUserReturn" type="xsd:int"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	
	<wsdl:message name="getProjectsRequest">
		<wsdl:part element="impl:getProjects" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getProjectsResponse">
		<wsdl:part element="impl:getProjectsResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getUsersForProjectRequest">
		<wsdl:part element="impl:getUsersForProject" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getUsersForProjectResponse">
		<wsdl:part element="impl:getUsersForProjectResponse" name="parameters"/>
	</wsdl:message>	
	<wsdl:message name="getProjectsForUserRequest">
		<wsdl:part element="impl:getProjectsForUser" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getProjectsForUserResponse">
		<wsdl:part element="impl:getProjectsForUserResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getGroupsForProjectRequest">
		<wsdl:part element="impl:getGroupsForProject" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getGroupsForProjectResponse">
		<wsdl:part element="impl:getGroupsForProjectResponse" name="parameters"/>
	</wsdl:message>	
	<wsdl:message name="addProjectRequest">
		<wsdl:part element="impl:addProject" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="addProjectResponse">
		<wsdl:part element="impl:addProjectResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="addGroupToProjectRequest">
		<wsdl:part element="impl:addGroupToProject" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="addGroupToProjectResponse">
		<wsdl:part element="impl:addGroupToProjectResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="addMemberToProjectRequest">
		<wsdl:part element="impl:addMemberToProject" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="addMemberToProjectResponse">
		<wsdl:part element="impl:addMemberToProjectResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="addUserRequest">
		<wsdl:part element="impl:addUser" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="addUserResponse">
		<wsdl:part element="impl:addUserResponse" name="parameters"/>
	</wsdl:message>
	
	<wsdl:portType name="ProjectTeamService">
	
		<wsdl:operation name="getProjects">
			<wsdl:input message="impl:getProjectsRequest" name="getProjectsRequest"/>
			<wsdl:output message="impl:getProjectsResponse" name="getProjectsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getUsersForProject">
			<wsdl:input message="impl:getUsersForProjectRequest" name="getUsersForProjectRequest"/>
			<wsdl:output message="impl:getUsersForProjectResponse" name="getUsersForProjectResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getProjectsForUser">
			<wsdl:input message="impl:getProjectsForUserRequest" name="getProjectsForUserRequest"/>
			<wsdl:output message="impl:getProjectsForUserResponse" name="getProjectsForUserResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getGroupsForProject">
			<wsdl:input message="impl:getGroupsForProjectRequest" name="getGroupsForProjectRequest"/>
			<wsdl:output message="impl:getGroupsForProjectResponse" name="getGroupsForProjectResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addProject">
			<wsdl:input message="impl:addProjectRequest" name="addProjectRequest"/>
			<wsdl:output message="impl:addProjectResponse" name="addProjectResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addGroupToProject">
			<wsdl:input message="impl:addGroupToProjectRequest" name="addGroupToProjectRequest"/>
			<wsdl:output message="impl:addGroupToProjectResponse" name="addGroupToProjectResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addMemberToProject">
			<wsdl:input message="impl:addMemberToProjectRequest" name="addMemberToProjectRequest"/>
			<wsdl:output message="impl:addMemberToProjectResponse" name="addMemberToProjectResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addUser">
			<wsdl:input message="impl:addUserRequest" name="addUserRequest"/>
			<wsdl:output message="impl:addUserResponse" name="addUserResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ProjectTeamServiceBinding" type="impl:ProjectTeamService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="getProjects">
			<soap:operation soapAction=""/>
			<wsdl:input name="getProjectsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getProjectsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUsersForProject">
			<soap:operation soapAction=""/>
			<wsdl:input name="getUsersForProjectRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getUsersForProjectResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getProjectsForUser">
			<soap:operation soapAction=""/>
			<wsdl:input name="getProjectsForUserRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getProjectsForUserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGroupsForProject">
			<soap:operation soapAction=""/>
			<wsdl:input name="getGroupsForProjectRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getGroupsForProjectResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>		
		<wsdl:operation name="addProject">
			<soap:operation soapAction=""/>
			<wsdl:input name="addProjectRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addProjectResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addGroupToProject">
			<soap:operation soapAction=""/>
			<wsdl:input name="addGroupToProjectRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addGroupToProjectResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addMemberToProject">
			<soap:operation soapAction=""/>
			<wsdl:input name="addMemberToProjectRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addMemberToProjectResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addUser">
			<soap:operation soapAction=""/>
			<wsdl:input name="addUserRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addUserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="ProjectTeamServiceFull">
		<wsdl:port binding="impl:ProjectTeamServiceBinding" name="ProjectTeamService">
			<soap:address location="http://localhost:8080/WebServiceProject/services/ProjectTeamService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>